@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vap44b');
  src:  url('../fonts/icomoon.eot?vap44b#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vap44b') format('truetype'),
    url('../fonts/icomoon.woff?vap44b') format('woff'),
    url('../fonts/icomoon.svg?vap44b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googlepay:before {
  content: "\e900";
  color: #5f6368;
}
.icon-vk:before {
  content: "\e901";
  color: #4680c2;
}
.icon-youtube:before {
  content: "\e902";
  color: #f00;
}
